@import "variables";

.contact {
  margin-bottom: 94px;
  .contact__container {
    
    .grid__contacts {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
      align-items: center;
      gap: 20px;
      @media (max-width:$tablet) {
        display: flex;
        flex-direction: column;
      }
      .social {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
      }
    }
  }
}
