
@import "variables";
@mixin adaptive-font($pcSize, $fzTablet) {
  $addSize: $pcSize - $fzTablet;
  $addTabletSize: $addSize + $addSize * 0.7;

  @media (max-width: $tablet) {
    font-size: calc(
      #{$fzTablet + px} + #{$addTabletSize} *
        ((100vw - 320px) / #{$maxWidthsAdpt})
    );
  }

  // @media (min-width: $tablet) {
  //   font-size: calc(
  //     #{$fzTablet + px} + #{$addTabletSize} * (100vw / #{$maxWidthsAdpt})
  //   );
  // }
}

.header {
  padding-top: 77px;
	position: relative;
	z-index: 50;
 
  .header__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 125px; 
    @media (max-width:$mobile) {
      display: flex;
      justify-content: space-between;
    }
    .header__logo {
        flex: 0 0 80px;
      img {
        @media (max-width:$mobile) {
          width: 120px;
        }
      }
    }
    
    .menu__body {
      @media (max-width: $mobile) {
        margin: 0px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        max-width: 300px;
        border-radius: 0px 170px 260px 0px;
        box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);
        height: 100%;
        padding: 100px 30px 30px 30px;
        left: -100%;
        background-color: $colorPrimary;
        transition: left 0.3s ease 0s;
        overflow: auto;

        &._active {
          left: 0;
          // max-width: 320px;
          width: 100%;
         
          
        }

        &::before {
          content: "";
          width: 100%;
          top: 0;
          left: 0;
          // max-width: 320px;
          // border-radius: 0px 0px 20px 0px;
          // box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);
          
        }
      }
      .menu__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 35px;
        @media (max-width: $mobile) {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
        }
        & > li {
          position: relative;
          margin: 0 0 0 20px;
          @media (max-width: $mobile) {
            flex-wrap: wrap;
            padding: 0 0 30px 0;
          }
        }
        @media (max-width: $mobile) {
          & > li:last-child {
            margin-bottom: 0;
          }
        }
        .menu__link {
          
          color: $colorMenu;
          font-size: $fzGlobal;
          font-family: 'Work Sans', sans-serif;;
          @include adaptive-font(16, 13);
          transition: color 0.3s;
          @media (max-width: $mobile) {
            color: #fff;
            font-size: 24px;
          }
          &:hover {
            color: $colorMenuHov;
            @media (max-width:1113px) {
              color: #fff;
            }
            
          }
        }
      }
    }
    .menu__icon {
      display: none;
      @media (max-width: $mobile) {
        z-index: 50;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;

        & span,
        &::before,
        &::after {
          left: 0;
          position: absolute;
          height: 10%;
          width: 100%;
          transition: all 0.3s ease 0s;
          background-color: #fff;
        }

        &::before,
        &::after {
          content: "";
        }

        &::before {
          top: 0;
        }

        &::after {
          bottom: 0;
        }

        & span {
          top: 50%;
          transform: scale(1) translate(0px, -50%);
        }

        &._active span {
          transform: scale(0) translate(0px, -50%);
        }

        &._active::before {
          top: 50%;
          transform: rotate(-45deg) translate(0px, -50%);
        }

        &._active::after {
          bottom: 50%;
          transform: rotate(45deg) translate(0px, 50%);
        }
      }
    }
  }
}

