.hero {
  padding-top: 62px;
  padding-bottom: 40px;
  position: relative;
}
.hero .hero__container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.hero .hero__container .hero__text__block {
  position: relative;
  z-index: 2;
  flex: 0 1 50%;
}
.hero .hero__container .hero__text__block > h1 {
  color: #181E4B;
  font-size: 76px;
  font-weight: 800;
  line-height: 89px;
  letter-spacing: -4px;
}
@media (max-width: 991.98px) {
  .hero .hero__container .hero__text__block > h1 {
    font-size: calc(47px + 49.3 * (100vw - 320px) / 1440);
  }
}
@media (max-width: 767.98px) {
  .hero .hero__container .hero__text__block > h1 {
    letter-spacing: -2px;
    line-height: 65px;
  }
}
.hero .hero__container .hero__text__block > h1 > strong {
  color: #4475F2;
  text-decoration: underline;
}
@media (max-width: 1200px) {
  .hero .hero__container .hero__text__block > h1 > strong {
    text-shadow: 0px 0px 8px #fff;
  }
}
.hero .hero__container .hero__text__block > p {
  color: #5E6282;
  line-height: 30px;
  margin: 30px 0px 34px 0px;
}
.hero .hero__container .hero__text__block .hero__button {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 60px;
  max-width: 200px;
  box-shadow: 0 30px 60px 0 rgba(68, 117, 242, 0.25);
  border-radius: 10px 10px 10px 10px;
  background-color: #4475F2;
  transition: all 0.3s ease 0s;
}
@media (max-width: 479.98px) {
  .hero .hero__container .hero__text__block .hero__button {
    max-width: 439px;
    width: 100%;
    box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);
  }
}
.hero .hero__container .hero__text__block .hero__button > p {
  color: #fff;
  font-weight: 700;
}
@media (max-width: 479.98px) {
  .hero .hero__container .hero__text__block .hero__button > p {
    font-size: 24px;
    font-weight: 700;
  }
}
.hero .hero__container .hero__text__block .hero__button:hover {
  transform: translateY(-7px);
}
.hero .hero__container .hero__text__block .hero__button:active {
  transform: translateY(-1px);
}
.hero .hero__container .hero__block__images {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 27px;
}
.hero .hero__container .hero__block__images .image--header--01 {
  grid-row: span 2;
  align-self: end;
  padding-bottom: 10px;
}
.hero .hero__container .hero__block__images .image--header--03 {
  align-self: center;
  justify-self: end;
  grid-row: span 2;
  padding-bottom: 10px;
}
.hero .hero__container .hero__block__images .image--header--04 {
  align-self: end;
  justify-self: end;
}
.hero .hero__container .hero__block__images img {
  max-width: 100%;
  width: 100%;
  height: auto;
  transition: all 0.3s ease 0s;
}
.hero .hero__container .hero__block__images img:hover {
  transform: translateY(-7px);
}
.hero .hero__container .hero__block__images img:active {
  transform: translateY(-1px);
}
@media (max-width: 1200px) {
  .hero .hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.hero .hero__container::before, .hero .hero__container::after {
  content: "";
  position: absolute;
  background-color: #4475f2;
  height: 150%;
  transform-origin: left bottom;
  box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);
  width: 200vw;
  border-radius: 50px;
  bottom: 0;
}
.hero .hero__container::before {
  left: calc(50% + 30px);
  transform: skewX(-20deg);
}
.hero .hero__container::after {
  transform: skewX(31deg);
  left: calc(50% + 444px);
}/*# sourceMappingURL=hero.css.map */